# don't upload the generated images, or else that's 2GB of data
# create these using create_test_images.py
data/generations
data/generations.json

data/basis
data/basis.json

# this is like 55GB of data lol
data/card_images
data/card_database.json
data/card_database_phash.json

data/checkpoints

# mac nonsense
.DS_Store

# tex log files
*.aux
*.log
*.out